<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">YouTube</a></li>
            <li><a href="#">Linkedin</a></li>
            <li><a href="#">StackOverflow</a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Design by
              | Design: <a rel="nofollow" href="https://github.com/yemoalakija" target="_parent">Yemo</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>